.card{
 width: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.detailImg{
    height: 300px;
}
.content {
    width: 100%;
    text-align: center;
}